<% layout('layouts/boilerplate') -%>

    <div class="container mt-4">
        <div class="row">

            <!-- LEFT: CAMPGROUND INFO -->
            <div class="col-md-6">
                <div class="card bg-dark text-light">
                    <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.title %>">

                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark text-light">
                            <%= campground.location %>
                        </li>
                        <li class="list-group-item bg-dark text-light">$<%= campground.price %>/Night</li>
                    </ul>

                    <div class="card-body">
                        <button class="btn btn-primary" onclick="window.location.href='/campgrounds/new'">Add
                            New</button>
                        <button class="btn btn-info"
                            onclick="window.location.href='/campgrounds/<%= campground._id %>/update'">Update</button>

                        <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>

                        <button class="btn btn-secondary" onclick="window.location.href='/campgrounds'">Back</button>
                    </div>
                </div>
            </div>

            <!-- RIGHT: REVIEWS -->
            <div class="col-md-6">
                <form action="/campgrounds/<%= campground._id %>/reviews" class="mb-3 validated-form" method="POST"
                    novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="rating">Rating</label>
                        <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="body">Review</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-success">Submit Review</button>
                </form>

                <% for(let review of campground.reviews) { %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Rating: <%= review.rating %>
                            </h5>
                            <p class="card-text">Review: <%= review.body %>
                            </p>
                            <form action="/campgrounds/<%= campground._id%>/reviews/<%=review._id%>?_method=DELETE"
                                method="POST" class="d-inline">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                    <% } %>
            </div>

        </div>
    </div>